  <div style="width: 16px; height: 16px; background-color: <%= dinosaur.color %>; display: inline-block;" ></div>
  <big><%= "#{dinosaur.name}" %></big><br/>
  <%= "L: #{dinosaur.level} DNA: #{dinosaur.dna}" %><br/>
  <%= "H: #{dinosaur.health} D: #{dinosaur.damage} S: #{dinosaur.speed_with_boosts} A: #{dinosaur.armor}% C: #{dinosaur.critical_chance}%" %><br/>
  <% Constants::RESISTANCES.each do |resistance| %>
    <%= "#{resistance.to_s.gsub('_',' ').capitalize}: #{dinosaur.resistance(resistance)}, " unless dinosaur.resistance(resistance) == 0 %>
  <% end %>
  <br />
  <%= dinosaur.strategies || dinosaur.strategy%><br/>
  <% if dinosaur.abilities.class == Array %>
  <% dinosaur.abilities.each do |ability| %>
    <a class="modal-trigger" href="#<%= ability.name %>"><%= ability.class %><%= "*" if ability.is_implemented %></a><br/>
    <%= render partial: 'abilities/modal', locals: {ability: ability} %>
  <% end %>
  <% dinosaur.abilities_counter.each do |ability| %>
  <a class="modal-trigger" href="#<%= ability.name %>"><%= ability.class %><%= "*" if ability.is_implemented %></a><br/>
  <%= render partial: 'abilities/modal', locals: {ability: ability} %>
  <% end %>
  <% dinosaur.abilities_swap_in.each do |ability| %>
  <a class="modal-trigger" href="#<%= ability.name %>"><%= ability.class %><%= "*" if ability.is_implemented %></a><br/>
  <%= render partial: 'abilities/modal', locals: {ability: ability} %>
  <% end %>
  <% dinosaur.abilities_on_escape.each do |ability| %>
  <a class="modal-trigger" href="#<%= ability.name %>"><%= ability.class %><%= "*" if ability.is_implemented %></a><br/>
  <%= render partial: 'abilities/modal', locals: {ability: ability} %>
  <% end %>
  <% end %>
