<p id="notice"><%= notice %></p>

<h1>Dinosaurs</h1>
<div>
</div>

<table>
  <thead>
    <tr>
      <th><%= sortable "name"%></th>
      <th><%= sortable "level" %></th>
      <th><%= sortable "rarity" %></th>
      <th><%= sortable "health" %></th>
      <th><%= sortable "armor" %></th>
      <th><%= sortable "critical_chance" %></th>
      <th><%= sortable "speed" %></th>
      <th><%= sortable "damage" %></th>
      <th><%= sortable "DNA" %></th>
      <th>Abilities</th>
      <th>Swap In</th>
      <th>Counters</th>
      <th>On Escape</th>
      <th>Resistances</th>
      <th>Coins to Create</th>
      <th>DNA to Create</th>
      <th>Left</th>
      <th>Right</th>
      <th>Possible Hybrids</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @dinosaurs.each do |dinosaur| %>
      <tr>
        <td><%= link_to dinosaur.name, dinosaur %><%= "*" if dinosaur.is_implemented %></td>
        <td><%= dinosaur.level %></td>
        <td><%= dinosaur.rarity %></td>
        <td><%= dinosaur.health %></td>
        <td><%= dinosaur.armor %></td>
        <td><%= dinosaur.critical_chance %></td>
        <td><%= dinosaur.speed %></td>
        <td><%= dinosaur.damage %></td>
        <td><%= dinosaur.dna %></td>
        <td><%= dinosaur.abilities %></td>
        <td><%= dinosaur.abilities_swap_in %></td>
        <td><%= dinosaur.abilities_counter %></td>
        <td><%= dinosaur.abilities_on_escape %></td>
        <td><%= dinosaur.resistances %></td>
        <td><%= dinosaur.cost_to_create(:coins) %></td>
        <td><%= dinosaur.cost_to_create(:dna) %></td>
        <td><%= dinosaur.left.name rescue nil %></td>
        <td><%= dinosaur.right.name rescue nil %></td>
        <td><%= dinosaur.possible_hybrid_names %></td>
        <td><%= link_to 'Edit', edit_dinosaur_path(dinosaur) %></td>
        <td><%= link_to 'Destroy', dinosaur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dinosaur', new_dinosaur_path %>
<p>
  <%= @graph.html_safe %>
</p>
