<% TQStrategy.q_table.each do |k,v| %>
<div class="row">
  <div class="col s12"><%= k.split(' ')[1] %>:<%= k.split(' ')[2]%> | <%= k.split('-').last.split(' ')[0] %>:<%= k.split('-').last.split(' ')[1]%></div>
</div>
<div class="row">
  <div class="col s12"><%= v.map {|k,v| "#{k}: #{v.round(2)}"}.to_sentence %></div>
</div>
<% end %>
