<h1>Matches</h1>
<div class="row">
  <div class="col s6">
    <%= render 'dinosaurs/data', dinosaur: @d1 %>
  </div>
  <div class="col s6">
    <%= render 'dinosaurs/data', dinosaur: @d2 %>
  </div>
</div>
<div>Stats: <%= @stats %></div>
<div>Stats: <%= MinMaxStrategy.cache_stats %></div>
<div>
  <%= @graph.html_safe %>
</div>
<div><%= render partial: 'q_table' %></div>
