<h1>Matches</h1>
<div class="row">
  <div class="col s6">
    <%= render 'dinosaurs/data', dinosaur: @d1 %>
  </div>
  <div class="col s6">
    <%= render 'dinosaurs/data', dinosaur: @d2 %>
  </div>
</div>
<div>Stats: <%= @stats %></div>
<div>Stats: <%= @d1.strategy.stats %></div>
<div>Stats: <%= @d2.strategy.stats %></div>
<div>
  <%= @graph.html_safe %>
</div>
<div><%= render partial: 'q_table' if false %></div>
<div><%= EventSink.events if @logs.size < 10 && false%></div>
<div><%= render partial: 'team_matches/logs' if @logs.size < 10 %></div>
<script>
  $('.modal').modal();
</script>
